body {
    cursor: none;
}
a {
    cursor: none;
}
.cursor {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border: 3px solid red;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
}
.cursor.in {
    opacity: 1;
}
.cursor.in.show {
    border: 0;
}
.cursor.in.show::before {
    content: 'click';
    display: inline-block;
    position: absolute;
    z-index: 10;
    font-size: .8rem;
    font-weight: 600;
    animation: tni-shake .2s infinite alternate;
    color: coral;
}
@keyframes tni-shake {
 0% {
     transform: rotate(-15deg);
 }
    100% {
        transform: rotate(15deg);
    }
}
.cursor .img-area{
    width: 300px;
    height: 170px;
    position: absolute;
    top: 20px;
    left: 0;
    opacity: 0;
    transition: .3s;

}
.cursor .img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: .3s;
    box-shadow: 6px 7px 3px 2px #00000002;
}

.cursor.in.show .img-area{
    opacity: 1;
}
.cursor img {
    position: absolute;
    width: 100%;
    object-fit: cover;
}
section{
    min-height: 100vh;
    overflow: hidden;
    padding: 80px 30px;
    box-sizing: border-box;
    position: relative;
}
.fix-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: khaki;
    color: #000;
    transition: .5s;
}

.fix-bg.scroll {
    background: #f2eacb;
}

body:has(.fix-bg.scroll) section {
    filter: blur(0px);
}

.fix-bg .fix-object {
    width: clamp(3vw, 30rem, 30vw);
    height: clamp(4vw, 50rem, 40vw);
   border: 80px solid #9891f9;
    background: #f3d2d2;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    filter:blur(clamp(3rem, 1vw, 9rem)) hue-rotate(135deg) brightness(1.3);
    box-sizing: border-box;
}
.fix-bg .fix-object.item1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}
.fix-bg .fix-object.item2 {
 border-color: rgba(241, 204, 84, 0.75);
    top: 30%;
    right: 10%;
}
.fix-bg .fix-object.item3{
    border-color: #fa9bca;
    left: 7%;
    top: 14%;
}
.fix-bg .noise {
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}

.noise:after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/noise.png");
    background-position: 50%;
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform;
    -webkit-animation: slidein 1s steps(2) infinite;
    animation: slidein 0.3s steps(2) infinite;
}

@keyframes slidein {
    from {
        left: 20px;
    }

    to {
        left: 0;
    }
}

.main-section {
    position: relative;
    width: 100%;
    max-height: 100vh;
}

.main-section .title {
    position: absolute;
    left: 30px;
    bottom: 10px;
    color: coral;
    font-size: clamp(2rem, 12vw, 15rem);
    transition: .5s;
}
body:has(.fix-bg.scroll) .main-section .title {
    color: #000;
}
.main-section .sub-title {
    display: inline-block;
    margin-left: 10px;
    font-size: clamp(1.3rem, 5vw, 8rem);
    font-weight: 400;
    letter-spacing: -0.03em;
    animation: title-ani 1s;
}

@keyframes title-ani {
    0% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0);
    }

}

.main-section + section {
    position: relative;
    filter: blur(10px);
    transition: 1s;
}
section h2{
    font-size: 8vh;
    font-weight: 600;
    margin-bottom: 10px;
}
section .desc{
    font-size: 2vh;
    font-weight: 400;
}

.project-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.project-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: calc((100% - 60px)/3);
    min-height: 450px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-shadow: 6px 7px 3px 2px #00000017;
}

.project-card::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    opacity: .8;
    transition: .5s;
}

.project-card > a {
    display: block;
    width: 100%;
    height: 100%;
}
.project-card .type {
    display: inline-block;
    padding: 2px 3px;
    border:1px solid coral;
    color: coral;
    border-radius: 5px;
    font-size: .9rem;
    margin-bottom: 6px;
}
.project-card .title {
    font-family: "Aeonik", "suit", sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
}
.project-card .date {
    font-size: 0.85rem;
    font-weight: 400;
    margin-top: 5px;
    color: #333;
}
.project-card .desc {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 10px;
}
.project-card .skills {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.project-card .skills .badge {
    background: #000;
    color: #f3f1e9;
    padding: 5px 8px;
    border-radius: 3px;
}
.project-card .link {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #5d83e4;
    font-weight: 600;
    font-size: 1.25rem;
}
/*progress custom*/


.progress-area {
    margin-top: 12px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #999;
}

progress {
    width: 100%;
    height: 12px;
    appearance: none;
    border: none;
}

progress::-webkit-progress-bar {
    background: #000;
    border-radius: 0;
}

progress::-webkit-progress-value {
    background: #b6e3f3;
    border-radius: 0;
}
#about .wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
}
#about .img-area {
    width: 300px;
    height: 300px;
}

#about .img-area img {
    width: 100%;
}

.balloon {
    position: relative;
    background: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.8;
}
.balloon::after {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 20px solid #000;
    border-right: 10px solid transparent;
}
.balloon p {
    position: relative;
    z-index: 0;
}
.balloon p + p {
    margin-top: 30px;
}
.balloon p b {
    color: #000;
    background: #f9d4ff;
}
 .keyword{
    border-radius: 5px;
    font-weight: 600;
    position: relative;
    transition: 1s;
}
 .keyword + .keyword::before {
    content: ', ';
     color: #fff;
}
 .keyword:last-child::after {
    display: none;
}

.keyword.skill.dev:hover {
    color: #5d83e4;
}
.keyword.skill.comm:hover {
    color: #fb9351;
}
.keyword.skill.design:hover {
    color: #9776fa;
}

#contact  {
    min-height: auto;
    height: auto;
}
#contact .info-area {
    margin-top: 30px;
    font-size: 2rem;
}
#contact .info-area p + p {
    margin-top: 10px;
}



@media screen and (max-width: 1024px) {
    .cursor {
        display: none;
    }
    .project-card {
        width: calc((100% - 30px)/2);
    }
    .project-card .title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 720px) {

    .fix-bg .fix-object {
        border: 60px solid #9891f9;
    }
    .main-section .title {
        left: 20px;
    }
    section {
        padding: 80px 20px;
    }
    .project-card {
        width: 100%;
    }
    #about .wrap {
        padding: 0;
    }
}

